* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.DesktopNav {
    background-color: black;
}
.DesktopNavList {
    display: flex;
    justify-content: space-around;
    font-size: 35px;
}
.DesktopNavList li a{
    color: aqua;
    font-family: sans-serif;
    transition: all .5s;
}
.DesktopNavList li a:hover {
    background-image: linear-gradient(to bottom, black, black, darkmagenta);
    padding: 0px 100px 0px 100px;
    border-radius: 30px;
    padding-bottom: 2px;
}
.MainNavContent {
    display: none;
    position: absolute;
    z-index: 1;
}
.MainNavContainer:hover .MainNavContent {
    display: block;
}
.MainNavBut {
    display: none;
    position: absolute;
}
.MainNavContent {
    padding: 20px 0px;
}
@media screen and (max-width: 750px) {
    .MainNavBut {
        display: inline-block;
    }
    .DesktopNav {
        display: none;
    }
}